In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data_train_sample.csv')

In [3]:
df

,ID,Nama,Usia,Potensi,Pengalaman Sebelumnya,Keinginan Orangtua,Kelas
0,1,F,9,6,3,7,Grade 1
1,2,E,8,5,4,3,Primary
2,3,C,6,3,1,3,Tiny B
3,4,D,7,4,3,2,Preballet
4,5,B,5,2,1,1,Tiny A
...,...,...,...,...,...,...,...
95,96,SSSS,12,9,6,8,Grade 4
96,97,TTTT,13,10,7,9,Grade 5
97,98,UUUU,11,8,5,6,Grade 3
98,99,VVVV,9,6,3,5,Grade 1
99,100,WWWW,8,5,2,4,Primary

In [4]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score



# Load the data
data = pd.read_csv('data_train_sample.csv')

# Preprocess the data
# Convert categorical columns to numerical values
label_encoder = LabelEncoder()
data['Kelas'] = label_encoder.fit_transform(data['Kelas'])

# Define features and target
X = data[['Usia', 'Potensi', 'Pengalaman Sebelumnya', 'Keinginan Orangtua']]
y = data['Kelas']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# # Initialize and train the KNN classifier
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)

# Predict on the test set
y_pred = knn.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy * 100:.2f}%')

# Function to predict the class for new data
def predict_class(new_data):
    new_data_df = pd.DataFrame([new_data], columns=['Usia', 'Potensi', 'Pengalaman Sebelumnya', 'Keinginan Orangtua'])
    predicted_class = knn.predict(new_data_df)
    return label_encoder.inverse_transform(predicted_class)

# Example usage
new_siswa = {'Usia': 10, 'Potensi': 7, 'Pengalaman Sebelumnya': 3, 'Keinginan Orangtua': 8}
predicted_class = predict_class(new_siswa)
print(f'The predicted class for the new siswa is: {predicted_class[0]}')

Accuracy: 93.33%
The predicted class for the new siswa is: Grade 2

In [6]:
data['Jumlah Siswa'] = data['Kelas'].value_counts()

Kelas
2     8
9     8
6     8
4     8
10    8
3     8
7     8
5     8
1     8
12    7
8     7
11    7
0     7
Name: count, dtype: int64